<nav class="sticky w-full h-12 shadow-2xl bg-red-600 border-b-4 border-black flex justify-between items-center p-4 fixed ">
    <img class="ml-8 h-8" src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg" alt="...">
    
    <ng-container *ngIf="trainer !== undefined">
        <ul class="flex">
            <li class="px-4">
                <a routerLink="/catalogue">Pokemon Catalogue</a>
            </li>
            <li class="px-4">
                <a routerLink="/trainer">Trainer</a>
            </li>
        </ul>
    </ng-container>
    
</nav>
