<nav class="sticky w-full h-12 shadow-2xl bg-red-600 border-b-4 border-black flex justify-between items-center p-4 fixed ">
    <ng-container *ngIf="trainer == undefined">
        <div  class="flex justify-center w-full absolute mt-10">
            <img class="h-16" src="assets/img/pngegg.png"alt="">
        </div>
    </ng-container>
    
    <ng-container *ngIf="trainer !== undefined">
        <img class="ml-8 h-16" src="assets/img/pngegg (2).png" alt="...">
        <ul class="flex">
            <li class="px-4">
                <a routerLink="/catalogue" class="text-white rounded text-xs hover:bg-blue-700  flex font-medium hover:shadow p-1"><img class="h-5 " src="assets/img/pngegg (3).png"alt=""> Catch Pokémon</a>
            </li>
            <li class="px-4">
                <a routerLink="/trainer"class="text-white rounded text-xs hover:bg-blue-700  flex font-medium hover:shadow  p-1"><img class="h-5 " src="assets/img/pngegg (3).png"alt=""> {{trainer.username}}'s Pokémon</a>
            </li>
            <li>
                <button ontype="button" (click)="logout()" class="text-white rounded text-xs hover:bg-blue-700  flex font-medium hover:shadow  p-1"><img class="h-5 " src="assets/img/pngegg (3).png"alt="">Sign Out</button>
            </li>
        </ul>
    </ng-container>
    
</nav>
