<ng-container *ngIf="showTrainerButton; then removeButton else caughtButton"></ng-container>

<ng-template #removeButton>
        <button (click)="onCatch()">Remove</button>
</ng-template>

<ng-template #caughtButton>
    <ng-container *ngIf="isCaughtPokemon; then isCaught else notCaught"></ng-container>

    <ng-template #isCaught>
        <button (click)="onCatch()">Is Caught</button>
    </ng-template>
    
    <ng-template #notCaught>
        <button (click)="onCatch()" class="text-gray-700 ">CATCH</button>
    </ng-template>
</ng-template>